In [2]:
import pandas as pd

df = pd.read_csv("../data/price_data/AAPL.csv")
print(df.columns)
df.head()

Index(['timestamp', 'open', 'high', 'low', 'close', 'volume'], dtype='object')

    timestamp     open    high      low   close     volume
0  2025-08-05  203.400  205.34  202.160  202.92   44155079
1  2025-08-04  204.505  207.88  201.675  203.35   75109298
2  2025-08-01  210.865  213.58  201.500  202.38  104434473
3  2025-07-31  208.490  209.84  207.160  207.57   80698431
4  2025-07-30  211.895  212.39  207.720  209.05   45512514

In [7]:
sentiment_df = pd.read_csv("../data/sentiment_data/news_apple_sentiment.csv")
print(sentiment_df.columns)

Index(['publishedAt', 'title', 'description', 'url', 'sentiment_score'], dtype='object')

In [9]:
import pandas as pd

# Load stock data
stock_df = pd.read_csv("../data/price_data/AAPL.csv", parse_dates=["timestamp"])
stock_df["Date"] = stock_df["timestamp"].dt.date  # Convert to date

# Load sentiment data
sentiment_df = pd.read_csv("../data/sentiment_data/news_apple_sentiment.csv")
sentiment_df["publishedAt"] = pd.to_datetime(sentiment_df["publishedAt"])
sentiment_df["Date"] = sentiment_df["publishedAt"].dt.date

# Aggregate sentiment by day
daily_sentiment = sentiment_df.groupby("Date")["sentiment_score"].mean().reset_index()

# âœ… Merge on same-type Date columns
merged_df = pd.merge(stock_df, daily_sentiment, on="Date", how="left")

# Preview
print(merged_df.columns)
display(merged_df.head())

Index(['timestamp', 'open', 'high', 'low', 'close', 'volume', 'Date',
       'sentiment_score'],
      dtype='object')

,timestamp,open,high,low,close,volume,Date,sentiment_score
0,2025-08-05,203.400,205.34,202.160,202.92,44155079,2025-08-05,0.15488
1,2025-08-04,204.505,207.88,201.675,203.35,75109298,2025-08-04,NaN
2,2025-08-01,210.865,213.58,201.500,202.38,104434473,2025-08-01,NaN
3,2025-07-31,208.490,209.84,207.160,207.57,80698431,2025-07-31,NaN
4,2025-07-30,211.895,212.39,207.720,209.05,45512514,2025-07-30,NaN